body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: $darkBlue;
  color: $white;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin: 0;
}
p {
  margin: 0;
}
a,
input,
button,
select {
  transition: 0.3s;
}

.global-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  .main-content {
    flex: 1;
  }
}

.container {
  width: 100% !important;
  max-width: 1200px !important;
}
