$mainColor: #fb7413;
$white: hsl(0, 0%, 100%);
$lightGrey: hsl(217, 12%, 63%);
$mediumGrey: #252d37;
$blue: #19202a;
$darkBlue: #141519;

// Breakpoints
$desktopLarge: 1440px;
$desktopNormal: 1200px;
$desktopSmall: 1024px;
$tabletLarge: 991px;
$tablet: 768px;
$mobilexLarge: 640px;
$mobileLarge: 426px;
$mobileMedium: 375px;
$mobileSmall: 320px;
